@import "styles.css";

main {
    display: grid;
    grid-column-gap: 100px;
    grid-template-columns: 1fr 1fr;
}

#four-beers{
    padding-top: 20px;
    grid-column: 1 / -1;
    margin-right: 10px;
    float: right;
    width: 100%;
}

.footer-div {
    height: 1px;
    width: 100%;
    border: 1px solid black;
    grid-column: 1 / -1;
}

footer {
    grid-column: 1 / -1;
    text-align: right;
}

#brewing-process{
    width: 120%;
    padding-top: 100px;
}

#first-article{
    grid-column: 1 / -1;
}

#second-article {
    grid-column: 1 / -1;
}

article:nth-child(4){
    grid-column: 1 / 2;
}