body {
    margin: 0px 90px 0px 90px;
}


html {
    font-family: Pussycat, Algerian, Broadway, fantasy, Arial;
    background-color: navajowhite;
}
/*
        background-color: navajowhite;

     background-image: linear-gradient(#FFDEAD, #FAE96F);
*/

header h1 {
    margin: 0px;
    font-family: Pussycat, Algerian, Broadway, fantasy;
    text-align: center;
}

nav ul {
    list-style: none;
    text-align: center;
}

nav ul li {
    display: inline;
    padding-right: 40px;
}

nav ul li a:link {
    text-decoration: none;
    color: black;
}


nav ul li a:visited {
    text-decoration: none;
    color: black;
}


nav ul li a:hover {
    text-decoration: none;
    background-color: #dfdce3;
    color: #f78733;
    border-radius: 10px;
    display: inline-block;
}


nav ul li a:active {
    text-decoration: none;
    color: black;
}

main {
    margin-top: 50px;
    padding: 0px 100px 0px 100px;
    display: grid;
    justify-content: center;
}

nav {
    margin: 10px;
    padding: 5px;
    height: 70px;
    background-color: #DF8D03;
    border-radius: 10px;
}

nav ul{
    height: 100%;
    border-radius: 10px;
    text-align: center;
    font-size: 1.5em;
}

.footer-div{
    margin-top: 50px;
    height: 1px;
    width: 100%;
    border: 1px solid black;
}

footer{
    padding-top: 5px;
    padding-bottom: 20px;
    text-align: right;
}

.logo{
    padding: 10px 0px 0px 20px;
    width: 200px;
}